{% extends 'base.html.twig' %}

{% block title %}Gautier | Artiste-Peintre{% endblock %}

{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset("css/home/home.css") }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{{ asset("js/home/home.js") }}"></script>
{% endblock %}

{% block main %}

{# slider #}

        <div id="carouselExampleAutoplaying" class="carousel slide my-3" data-bs-ride="carousel">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="{{ asset('images/IMG-chat2.jpg') }}" class="d-block w-100" alt="peinture-animaux">
              </div>
              <div class="carousel-item">
                <img src="{{ asset('images/IMG-20231120-WA0014.jpg') }}" class="d-block w-100" alt="peinture-scene">
              </div>
              <div class="carousel-item">
                <img src="{{ asset('images/IMG-20231120-WA0015.jpg') }}" class="d-block w-100" alt="peinture-paysage">
              </div>
              <div class="carousel-item">
                <img src="{{ asset('images/IMG-20231120-WA0063.jpg') }}" class="d-block w-100" alt="peinture">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

{# a propos #}

<div class="card text-center bg-transparent my-4">
    <div class="card-body">
      <h5 class="card-title my-3 fw-semibold text-primary-emphasis" style="font-size: 3em"><u>A Propos</u></h5>
      <p class="card-text my-3 fs-2">Découvrez l'univers artistique captivant de Gautier, une talentueuse <span>artiste peintre</span> passionnée depuis ses 12 ans. <br>Son amour pour l'art et la culture transparaît dans ses créations variées, allant de <em>portraits</em> expressifs à des représentations vibrantes <em>d'animaux</em> et d'<em>icônes religieuses</em>. <br>Explorez sa diversité artistique sur son site web. </p>
      <a href="#" class="btn btn-info rounded-5 my-3 fs-3">pour en savoir plus</a>
    </div>
   <img src="{{ asset('images/IMG-20231120-WA0086.jpg') }}" class="img-fluid rounded-circle mx-auto my-3" style="width: 50%" alt="l'artiste">
        </div>

{# apercu galerie #}

<div class="text-center my-4">
  <h5 class="card-title my-3 fw-semibold text-primary-emphasis" style="font-size: 3em"><u>Galerie</u></h5>
  <p class="card-text my-3 fs-2">Voici un petit aperçu des différentes peintures que vous retrouverez <a href="#" class="btn btn-info rounded-5 my-3 fs-3">ici</a>.</p>
</div>

<div class="container-fluid" >
  <div class="d-flex flex-wrap">
    <div class="row flex-wrap justify-content-around">
      <img class="p-2 w-25 h-auto" alt="peinture chien" src="{{ asset('images/IMG-charlie.jpg')}}" />
 
      <img class="p-2 w-25 h-auto" alt="peinture chat" src="{{ asset('images/IMG-chat2.jpg')}}" />
 
      <img  class="p-2 w-25 h-auto" alt="peinture épéphant" src="{{ asset('images/IMG-elephant.jpg')}}" />
    </div>
    <div class="row flex-wrap justify-content-around">
      <img class="p-2 w-25 h-auto" alt="peinture portrait" src="{{ asset('images/IMG-portrait1.jpg')}}" />

      <img class="p-2 w-25 h-auto" alt="peinture tigre" src="{{ asset('images/IMG-tigre.jpg')}}" />

      <img class="p-2 w-25 h-auto" alt="icone religieuse" src="{{ asset('images/IMG-icone1.jpg')}}" />
    </div>
 
  </div>
  

  </div>
  {# ...{{ asset('images/')}} #}
</div>


{% endblock %}


