{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset("css/home/home.css") }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% endblock %}

{% block main %}

<div class="container">
    <div class="">
        <h2>Peinture animaux</h2>
        <img src="{{ asset('images/IMG-chat1.jpg')}}" alt="peinture chien">
        <img src="{{ asset('images/IMG-charlie.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-chat2.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-chat3.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-elephant.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-lion.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-oiseau.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-pepette.jpg')}}" alt="">
        <img src="{{ asset('images/IMG-tigre.jpg')}}" alt="">

    </div>

</div>

{% endblock %}